- @arts = Art.all
.grid-slyder-gallery
  .g-slider
    .tiles
      %ul{title: 'Эта категория'}
        - @arts.each do |art|
          %li
            = image_tag art.image.url(:thumb)
            %div
              = art.title
            .content
              = image_tag art.image.url(:thumb), class: 'im-desc', align: 'left'
              %h1= art.title
              %p= art.desc
      %ul{title: 'Та категория'}
        - @arts.each do |art|
          %li
            = image_tag art.image.url(:thumb)
            %div
              = art.title
            .content
              = image_tag art.image.url(:thumb), class: 'im-desc', align: 'left'
              %h1= art.title
              %p= art.desc
