- @arts = Art.all
.grid-slyder-gallery
  .g-slider
    .tiles
      %ul{title: 'Category 1'}
        - @arts.each do |art|
          %li
            = image_tag art.image.url
            %div
              = art.title
            .content
              = art.desc
      %ul{title: 'Category 2'}
        - @arts.each do |art|
          %li
            = image_tag art.image.url
            %div
              = art.title
            .content
              = art.desc
