.tn3gallery

  %ul
    %li
      %h4 Image number
      .tn3.description My Image 1 description
      %a{href: 'assets/1.jpg'}
        = image_tag 'thumb1.jpg'
  %ul
    %li
      %a{href: 'assets/2.jpg'}
        = image_tag 'thumb1.jpg'

  %ul
    %li
      %a{href: 'assets/3.jpg'}
        = image_tag 'thumb1.jpg'

  %ul
    %li
      %a{href: 'assets/4.jpg'}
        = image_tag 'thumb1.jpg'

  %ul
    %li
      %a{href: 'assets/5.jpg'}
        = image_tag 'thumb1.jpg'