!!!
%html
  %head
    %title Niceglass
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =javascript_include_tag "//vk.com/js/api/openapi.js?56"
    =render "shared/facebook"
    =csrf_meta_tags
    %script{type: 'text/javascript'}
      VK.init({apiId: 3170479, onlyWidgets: true});
  %body
    -if flash[:notice]
      .alert.alert-success=flash[:notice]
    -if flash[:alert]
      .alert.alert-error=flash[:alert]
    #container
      %header
        = link_to 'СТУДИЯ ВИТРАЖА', root_path
      %nav#main
        %ul
          %li= link_to 'о нас', root_path
          %li= link_to 'галерея', gallery_path
          %li= link_to 'услуги', services_path
          %li= link_to 'контакты', contacts_path
          / %li= render 'shared/yandex_share'
          %li
            #vk_like
            %script{type: 'text/javascript'}
              VK.Widgets.Like("vk_like", {type: "mini"});
            .fb-like{"data-href"=>"http://niceglass.ru", "layout"=>"button_count", "data-send"=>"false", "data-width"=>"90", "data-show-faces"=>"false"}
      %section#content-box
        =yield
      %footer
        %ul
          %li Санкт-Петербург
          %li
            Евгения
            %div +7 (911) 792-82-90
          %li
            Елена
            %div +7 (911) 227-94-89
          %li
            %a{href: 'mailto:info@niceglass.ru'}
              %strong
                info@niceglass.ru
          %li
            %a{href: 'http://vk.com/niceglass', target: 'blank'}=image_tag 'vk.png', width: 20
